* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
}

.prod-card:hover {
  z-index: 999; 
  transform: scale(1.05);
} 

#card-nav-item {
  margin-right: 10px;
  margin-left: 10px;
  display: grid;
  place-content: center;
}

#card-nav-item:hover {
  color: grey;
}

.prod-list-group{
  display: flex;
  justify-content: space-between;
}

#prod-footer-link {
  color: rgb(39, 38, 38);
}

#prod-footer-link:hover {
  color: #eee7e7;
}

#prod-detail-content-section {
  padding: 1rem;
  margin-right: 200px;
}

#product-detail-img {
  height: 600px;
  width: 700px;
}

#img-overlay:hover {
  transform: scale(1.05);
}

#cart-img {
  height: 300px;
  width: 200px;
}

.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f1f1f1;
}

.plus, .minus {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: relative;
}

.plus::before,  .plus::after, .minus::before {
  content: '';
  position: absolute;
  background-color: #000;
}

.plus::before, .plus::after {
  width: 20px;
  height: 4px;
}

.plus::before {
  transform: rotate(90deg);
}

.minus::before {
  width: 20px;
  height: 4px;
}

.checkout-card-group {
  border-right: 1px solid #c0bfbf;
  margin-right: 500px;
}

.checkout-prod-list {
  padding: 10px; 
}

.order-div {
  padding-left: 1rem;
  width: 30rem; 
  line-height: 3rem; 
  background-color: #f1f1f1;
}

.order-div:hover {
  transform: scale(1.05);
}

.un-order-div {
  padding-left: 1rem;
  width: 30rem; 
  line-height: 3rem; 
  background-color: #fbfbfb;
}

.un-order-div:hover {
  transform: scale(1.05);
}
.order-link {
  color:#1a1a1a;
}

.order-detail-group {
  padding-left: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #c0bfbf;
}

.review-div {
  padding-left: 1rem;
  width: 30rem; 
  line-height: 3rem; 
  background-color: #f1f1f1;
}

.review-header {
  height: 45px; 
  border-bottom: 1px solid #c0bfbf;
}

.review-writer {
  list-style-type: none;
  padding-left: 0; 
  margin-bottom: 0; 
  padding-top: 7px;
}

.review-dropdown {
  list-style-type: none; 
  padding-right: 10px;
}

/* .hamburger span {
  display: block;
  width: 20px;
  height: 30px;
  background: #f1f1f2;;
  /* margin: 4px 0; 
  transition: all 0.3s;
} */

@media (min-width: 768px){

  body{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100%;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .category-div {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 30%;
  }
  
  .search-bar {
    padding-top: 0.5rem;;
    width: 80%;
    margin-left: 5rem;
  }

  .nav-link-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
  }

  .link-text {
    color:black;
  }


  .link-text:hover {
    color: grey;
  }

  a {
    text-decoration: none;
  }

  .nav-item {
      margin-right: 10px;
      margin-left: 10px;
      display: grid;
      place-content: center;
      color: #eee7e7;
  }

  .nav-item:hover {
      color: grey;
  }

  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(37, 37, 37);
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 10px;
    }
    
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #f1f1f1;
      display: block;
      transition: 0.3s;
    }
    
  .sidenav a:hover {
      color: grey;
    }
    
  .sidenav .closebtn {
      position: absolute;
      top: 2px;
      right: 5px;
      font-size: 36px;
      margin-left: 50px;
    }

  .sidenav-header {
      color: white;  
      background-color:#212020;
  }

    
  #main {
      transition: margin-left .5s;
      padding: 5px;
    }

  .closebtn {
    display: none;
  }
    
  .hamburger {
      display: none;
      cursor: pointer;
      flex-direction: column;
      justify-content: space-between;
      height: 20px;
    }

  main {
      padding-top: 5rem;
    }

  .prod-content-section {
    border: 1px solid #c0bfbf;
    padding-left: 10px;
    background-color: white;
  }

  .content-section {
    min-height: 430px;
    max-height: 500px;
    overflow-y: auto;
    padding: 1rem;
    margin-right: 500px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  }

  .register-content {
    background: grey;
    padding: 10px 20px;
    border: 1px solid #dddddd;  
  }

  .column {
    padding-bottom: 2rem; 
    padding-top: 1rem;
  }

  .prod-card {
    background-color: #f1f1f1;
    width: 18rem;
  }

  .prod-list {
    padding-left: 2px; 
    border-top: 1px solid #c0bfbf;
  }

  .remove-footer-pl {
    padding-left: 4rem;
  }

  .add-footer-pl {
    padding-left: 5rem;
  }

  .product-img {
    height: 250px;
    width: 287px;
    object-fit: cover;
  }

  #img-overlay {
    height: 300px;
    width: 500px;
    margin-bottom: 3em;
    transform: transition 0.2s;
  }

  #dashboard-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* .cart-content-section {
    height: 430px;
    width:  900px;
    margin-right: 250px;
    padding: 1rem; 
  } */

  #cart-card-footer {
    padding-left: 5rem;
  }

  .overlay-centre {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #dashboard-card-group {
    margin-left: 100px;
    padding-left: 3rem;
  }


  #stock {
    position: relative;
    left: 180px;
    bottom: 25px;
  }

  .add-to-cart {
    background-color: black;
  }

  .menu-link {
      color: white;
  }

  #prod-form {
    margin-left: 50px;
    margin-right: 200px;
    margin-bottom: 130px;
    padding: 2rem;
  }

  .right-aligned {
    float: right;
    position: absolute;
    /* margin: 10px; */
    right: 22rem;
    top: 30%;
    transform: translateY(-50%);
  }

  .footer-link {
    color: #f1f1f2;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer-items {
    display: flex;                
    align-items: center;
    justify-content: space-evenly;
  }

  .paginator-link-group {
    text-align: center;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



@media (max-width: 575.98px) {
  body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 120%;
    min-height: 100%;
  }

  /* .wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  } */
  
  /* .site-header {
    position: fixed;
    top: 0;
    min-width: 100%;
  } */

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .category-div {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 30%;
  }
  
  .search-bar {
    padding-top: 0.5rem;;
    width: 40%;
  }

  .nav-link-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(37, 37, 37);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    flex-direction: column;
  }

  .nav-link-container a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }

  .nav-link-container .closebtn {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
  }

  .link-text {
    color:black;
  }


  .link-text:hover {
    color: grey;
  }

  a {
    text-decoration: none;
  }

  .nav-item {
      margin-right: 10px;
      margin-left: 10px;
      display: grid;
      place-content: center;
      color: #eee7e7;
  }

  .nav-item:hover {
      color: grey;
  }

  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(37, 37, 37);
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 10px;
    }
    
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #f1f1f1;
      display: block;
      transition: 0.3s;
    }
    
  .sidenav a:hover {
      color: grey;
    }
    
  .sidenav .closebtn {
      position: absolute;
      top: 2px;
      right: 5px;
      font-size: 36px;
      margin-left: 50px;
    }

  .sidenav-header {
      color: white;  
      background-color:#212020;
  }

  #main {
    transition: margin-left .5s;
    padding: 3px;
  }

  /* .nav-items {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */

  /* .nav-items li {
      margin: 15px 0;
    } */

  main {
    padding-top: 5rem;
  }

  .prod-content-section {
    border: 1px solid #c0bfbf;
    padding-left: 1.5rem;
    background-color: white;
    width: 450px; 
  }

  .content-section {
    border: 1px solid #c0bfbf;
    padding-left: 4.5rem;
    background-color: white;
    min-height: 430px;
    max-height: 500px;
    overflow-y: auto;
    padding: 1rem;
    margin-right: 5px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  }

  .register-content {
    background: grey;
    padding: 10px 20px;
    border: 1px solid #dddddd;  
  }

  .prod-card {
    background-color: #f1f1f1;
    width: 25rem;
  }

  .prod-list {
    padding-left: 2px; 
    border-top: 1px solid #c0bfbf;
  }

  .remove-footer-pl {
    padding-left: 6.8rem;
  }

  .add-footer-pl {
    padding-left: 8.5rem;
  }

  .product-img {
    height: 250px;
    width: 398px;
    object-fit: cover;
  }

  #product-detail-img {
    height: 600px;
    width: 700px;
  }

  #dashboard-card-group {
    border: 1px solid #c0bfbf;
    padding-left: 1.5rem;
    background-color: white;
    width: 450px;
  }

  #img-overlay {
    height: 300px;
    width: 400px;
    margin-bottom: 3em;
    transform: transition 0.2s;
  }

  #dashboard-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cart-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  }

  #cart-card-footer {
    padding-left: 2.5rem;
  }

  #prod-form {
    margin-left: 0.5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    padding: 2rem;
  }

  .footer-link {
    color: #f1f1f2;
    padding-left: 1rem;
    /* padding-right: rem; */
  }

  .footer-items {
    display: flex;                
    align-items: center;
    justify-content: space-evenly;
  }

  .paginator-link-group {
    text-align: center;
    /* padding-left: rem; */
  }
}

@media (max-width: 400px) {
  body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 135%;
    min-height: 100%;
  }
}

@media (max-width: 360px) {
  body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 160%;
    min-height: 100%;
  }

  .prod-content-section {
    border: 1px solid #c0bfbf;
    padding-left: 2rem;
    background-color: white;
    width: 480px; 
  }
}