{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="prod-content-section" id="prod-form">
         <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="text-align: center;">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group" style="text-align: center;">
                <button class="btn btn-outline-dark" type="submit">Request Password Reset</button>
            </div>
         </form>
     </div>
{% endblock content %}